* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables primero */
/* Secciones */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Open Sans', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200px;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin: 1rem auto;
  text-align: center;
  color: #5eb99b;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 200;
}

#grilla__equipo #header {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__equipo #header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#grilla__equipo #menu {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#grilla__equipo #menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#grilla__equipo #menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#grilla__equipo #menu div ul li a {
  border-bottom: 3px solid #333;
  padding: 2px;
  text-decoration: none;
  color: #333;
  font-weight: 800;
}

#grilla__equipo #menu div ul li a:hover {
  color: #333;
  text-decoration: line-through;
  border-bottom: none;
}

#grilla__equipo #equipo {
  width: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

#grilla__equipo #equipo .equipo__txt {
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

#grilla__equipo #equipo .equipo__txt p {
  text-align: center;
  margin: 5vh 4vh;
  font-size: 12pt;
  color: #fff;
  font-weight: 200;
  width: 50vh;
}

#grilla__equipo #equipo .equipo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__equipo #equipo .equipo__img img {
  width: 70vh;
  height: auto;
  margin: 2vh 0 10vh 0;
}

#grilla__equipo #footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: aquamarine;
  padding: 2vh 5vh;
}

#grilla__equipo #footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#grilla__equipo #footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#grilla__equipo #footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#grilla__equipo #footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#grilla__equipo #footer .pie__desarrollador a {
  color: aquamarine;
}

#grilla__equipo #footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: aquamarine;
  padding: 10px;
}

/* GRILLA RESPONSIVE */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

section#slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slider;
}

section#texto1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: texto1;
}

section#container {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: container;
}

section#texto2 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: texto2;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

section#contacto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contacto;
}

section#grilla__servicios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: servicios;
}

section#servicioBloque1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios_bloque1;
}

section#servicioBloque2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: servicios_bloque2;
}

section#grilla__equipo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: equipo;
}

section#grilla__equipo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: trabajos;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "slider" "texto1" "container" "texto2" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 80vh 45vh 200vh 80vh 30vh;
      grid-template-rows: 12vh 10vh 80vh 45vh 200vh 80vh 30vh;
}

#grilla__contacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "contacto" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 150vh 30vh;
      grid-template-rows: 12vh 10vh 150vh 30vh;
}

#grilla__servicios {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "servicios" "servicios_bloque1" "servicios_bloque2" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 100vh 80vh 80vh 30vh;
      grid-template-rows: 12vh 10vh 100vh 80vh 80vh 30vh;
}

#grilla__equipo {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "equipo" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 130vh 30vh;
      grid-template-rows: 12vh 10vh 130vh 30vh;
}

#grilla__trabajos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "trabajos" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 140vh 30vh;
      grid-template-rows: 12vh 10vh 140vh 30vh;
}

@media screen and (min-width: 1023px) {
  #grilla {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 15vh 90vh 50vh 75vh 80vh 30vh;
        grid-template-rows: 15vh 90vh 50vh 75vh 80vh 30vh;
        grid-template-areas: "header nav nav" "slider slider slider" "texto1 texto1 texto1" "container container container" "texto2 texto2 texto2" "footer footer footer";
  }
  #grilla__contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 15vh 100vh 30vh;
        grid-template-rows: 15vh 100vh 30vh;
        grid-template-areas: "header nav nav" "contacto contacto contacto" "footer footer footer";
  }
  #grilla__servicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 15vh 130vh 70vh 70vh 30vh;
        grid-template-rows: 15vh 130vh 70vh 70vh 30vh;
        grid-template-areas: "header nav nav" "servicios servicios servicios" "servicios_bloque1 servicios_bloque1 servicios_bloque1" "servicios_bloque2 servicios_bloque2 servicios_bloque2" "footer footer footer";
  }
  #grilla__trabajos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 15vh 180vh 30vh;
        grid-template-rows: 15vh 180vh 30vh;
        grid-template-areas: "header nav nav" "trabajos trabajos trabajos" "footer footer footer";
  }
  #grilla__equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 15vh 100vh 30vh;
        grid-template-rows: 15vh 100vh 30vh;
        grid-template-areas: "header nav nav" "equipo equipo equipo" "footer footer footer";
  }
  h3 {
    color: #5eb99b;
    font-size: 2.5rem;
    padding: 0 0 4vh;
    margin: 0;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 200;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #slider {
    padding-left: 10vh;
  }
  #slider .slider__title {
    top: 25vh;
    width: 50%;
  }
  #slider .slider__title h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 100;
  }
  #slider .slider__button {
    top: 82vh;
    padding: 20px;
  }
  #texto1 {
    margin: 15vh auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10vh;
  }
  #texto1 p {
    text-align: center;
    margin: 0 10% 0 10%;
    font-size: 1rem;
  }
  #container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container .container__hijo {
    margin: 10vh 2vh 10vh;
    padding: 4vh;
    width: 300px;
  }
  #texto2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer {
    padding: 2vh 10vh;
  }
  #contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  #contacto .contacto__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  #contacto .contacto__formulario {
    height: 80vh;
    margin: 10vh;
  }
  #servicios {
    width: 100%;
    padding: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    margin: 0;
  }
  #servicios .servicios__titulo {
    padding-top: 15vh;
  }
  #servicios .servicios__titulo h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: aquamarine;
    font-size: 45pt;
    font-weight: 100;
    line-height: 46pt;
    width: 120vh;
  }
  #servicios .servicios__video {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  #servicios .servicios__video iframe {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #servicioBloque1, #servicioBloque2 {
    margin: 0;
    padding: 0 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: aquamarine;
    height: 70vh;
  }
  .servicioBloque__texto {
    display: inline-block;
    width: 80vh;
    margin: 0;
    padding: 0;
  }
  .servicioBloque__texto h3 {
    margin-top: 0;
    display: inline;
    text-align: left;
    color: #333;
    font-size: 3rem;
    font-weight: 100;
    line-height: 46pt;
  }
  .servicioBloque__texto p {
    text-align: left;
    display: block;
    margin: 5vh 0;
    font-size: 12pt;
    color: #333;
    font-weight: 200;
    width: 70vh;
    padding: 0;
  }
  .servicioBloque__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  .servicioBloque__img img {
    display: inline;
    height: 60vh;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  #trabajos {
    width: 100%;
    padding: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #trabajos .trabajos__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    height: 60vh;
  }
  #trabajos .trabajos__txt h3 {
    padding: 8vh;
    text-align: center;
    color: aquamarine;
    font-size: 45pt;
    font-weight: 100;
    line-height: 46pt;
    width: 120vh;
  }
  #trabajos .trabajos__txt p {
    width: 130vh;
  }
  #equipo {
    width: 100%;
    padding: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #equipo .equipo__txt {
    display: inline-block;
    width: 70vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0;
    margin: 0;
    height: 60vh;
  }
  #equipo .equipo__txt p {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  #equipo .equipo__txt h3 {
    text-align: left;
    padding: 10vh 0;
  }
  #equipo .equipo__img {
    margin: 10vh 0;
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */