* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables primero */
/* COLORS */
/* MAPS */
.icon-youtube {
  background-color: lightblue;
}

.icon-linkedin {
  background-color: blue;
}

.icon-instagram {
  background-color: blueviolet;
}

/* CONTENEDORES */
/* Clases */
.contenedor__black, #servicios, #trabajos, #equipo {
  width: 100%;
  background-color: #5b5b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

/* Secciones */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Anonymous Pro', monospace;
}

p, a {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 100;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#grilla__servicios #header {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__servicios #header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#grilla__servicios #menu {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1fr;
}

#grilla__servicios #menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#grilla__servicios #menu div ul {
  padding-left: 0;
}

#grilla__servicios #menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#grilla__servicios #menu div ul li a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

#grilla__servicios #menu div ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__servicios #footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #7fffd4;
  padding: 2vh 5vh;
  margin-bottom: 0;
}

#grilla__servicios #footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

#grilla__servicios #footer .container .row .footer__menu--map ul li {
  list-style: none;
}

#grilla__servicios #footer .container .row .footer__menu--map ul li a {
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  padding: 0rem 10rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0rem 0rem;
}

#grilla__servicios #footer .container .row .footer__menu--map ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__servicios #footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#grilla__servicios #footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#grilla__servicios #footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#grilla__servicios #footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#grilla__servicios #footer .pie__desarrollador a {
  color: #7fffd4;
}

#grilla__servicios #footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #7fffd4;
  padding: 10px;
}

#grilla__trabajos #header {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__trabajos #header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#grilla__trabajos #menu {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1fr;
}

#grilla__trabajos #menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#grilla__trabajos #menu div ul {
  padding-left: 0;
}

#grilla__trabajos #menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#grilla__trabajos #menu div ul li a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

#grilla__trabajos #menu div ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__trabajos #footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #7fffd4;
  padding: 2vh 5vh;
  margin-bottom: 0;
}

#grilla__trabajos #footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

#grilla__trabajos #footer .container .row .footer__menu--map ul li {
  list-style: none;
}

#grilla__trabajos #footer .container .row .footer__menu--map ul li a {
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  padding: 0rem 10rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0rem 0rem;
}

#grilla__trabajos #footer .container .row .footer__menu--map ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__trabajos #footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#grilla__trabajos #footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#grilla__trabajos #footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#grilla__trabajos #footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#grilla__trabajos #footer .pie__desarrollador a {
  color: #7fffd4;
}

#grilla__trabajos #footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #7fffd4;
  padding: 10px;
}

#grilla__equipo #header {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__equipo #header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#grilla__equipo #menu {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1fr;
}

#grilla__equipo #menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#grilla__equipo #menu div ul {
  padding-left: 0;
}

#grilla__equipo #menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#grilla__equipo #menu div ul li a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

#grilla__equipo #menu div ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__equipo #footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #7fffd4;
  padding: 2vh 5vh;
  margin-bottom: 0;
}

#grilla__equipo #footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

#grilla__equipo #footer .container .row .footer__menu--map ul li {
  list-style: none;
}

#grilla__equipo #footer .container .row .footer__menu--map ul li a {
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  padding: 0rem 10rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0rem 0rem;
}

#grilla__equipo #footer .container .row .footer__menu--map ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__equipo #footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#grilla__equipo #footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#grilla__equipo #footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#grilla__equipo #footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#grilla__equipo #footer .pie__desarrollador a {
  color: #7fffd4;
}

#grilla__equipo #footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #7fffd4;
  padding: 10px;
}

#grilla__contacto #header {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grilla__contacto #header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#grilla__contacto #menu {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1fr;
}

#grilla__contacto #menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#grilla__contacto #menu div ul {
  padding-left: 0;
}

#grilla__contacto #menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#grilla__contacto #menu div ul li a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

#grilla__contacto #menu div ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__contacto #footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #7fffd4;
  padding: 2vh 5vh;
  margin-bottom: 0;
}

#grilla__contacto #footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

#grilla__contacto #footer .container .row .footer__menu--map ul li {
  list-style: none;
}

#grilla__contacto #footer .container .row .footer__menu--map ul li a {
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  padding: 0rem 10rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0rem 0rem;
}

#grilla__contacto #footer .container .row .footer__menu--map ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__contacto #footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#grilla__contacto #footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#grilla__contacto #footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#grilla__contacto #footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#grilla__contacto #footer .pie__desarrollador a {
  color: #7fffd4;
}

#grilla__contacto #footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #7fffd4;
  padding: 10px;
}

#header {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__logo img {
  width: 40vh;
  padding: 1.3rem 1rem 0 1rem;
}

#menu {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1fr;
}

#menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.9rem;
  width: 100%;
}

#menu div ul {
  padding-left: 0;
}

#menu div ul li {
  display: inline-block;
  position: relative;
  padding: 0.6rem 0.5rem;
  margin: 0.2rem;
}

#menu div ul li a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

#menu div ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#footer {
  background-image: url(../img/car-back-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #7fffd4;
  padding: 2vh 5vh;
  margin-bottom: 0;
}

#footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

#footer .container .row .footer__menu--map ul li {
  list-style: none;
}

#footer .container .row .footer__menu--map ul li a {
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  padding: 0rem 10rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0rem 0rem;
}

#footer .container .row .footer__menu--map ul li a:hover {
  color: #7fffd4;
  text-decoration: line-through;
}

#footer .pie__logo a img {
  width: 150px;
  height: auto;
  padding: 15px 0px 0px 0px;
}

#footer .pie__links-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 20px;
}

#footer .pie__links-rrss img {
  width: 25px;
  margin: 0px 10px;
}

#footer .pie__desarrollador {
  text-align: right;
  font-size: 8pt;
  margin: 10px 20px;
}

#footer .pie__desarrollador a {
  color: #7fffd4;
}

#footer .pie__subir a {
  text-transform: uppercase;
  font-size: 8pt;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: #7fffd4;
  padding: 10px;
}

#slider {
  background-image: url(../img/fondo-carpincho-header.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 30px;
}

#slider .slider__title {
  position: absolute;
  top: 170px;
  width: auto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer-slider;
          animation-name: aparecer-slider;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#slider .slider__title h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #7fffd4;
  display: inline;
}

#slider .slider__title h1 span div {
  display: inline-block;
  padding: 0.3rem;
  background-color: #7fffd4;
  color: #232323;
}

#slider .slider__button {
  position: absolute;
  top: 500px;
  background-color: #7fffd4;
  border-radius: 15px;
  padding: 15px;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: aparecer-slider;
          animation-name: aparecer-slider;
}

#slider .slider__button a {
  color: #232323;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
}

#slider .slider__button:hover {
  background-color: transparent;
  border-color: #7fffd4;
  border-style: solid;
  border-width: 2px;
}

#slider .slider__button:hover a {
  color: #7fffd4;
  text-decoration: line-through;
}

#grilla__index {
  background-image: url(../img/fondo-carpix-gray.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section#index__texto--manifiesto {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

section#index__texto--manifiesto h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

section#index__texto--manifiesto p {
  text-align: center;
  margin: 0 10% 0 10%;
  font-size: 1rem;
  color: #5b5b5b;
  font-weight: 100;
  line-height: 1.7rem;
}

section#index__texto--manifiesto p strong em {
  color: #7fffd4;
}

.redondeados {
  border-radius: 10%;
}

#index__cards {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(106, 106, 106, 0.922)), color-stop(95%, rgba(181, 181, 181, 0)));
  background-image: linear-gradient(to top, rgba(106, 106, 106, 0.922) 30%, rgba(181, 181, 181, 0) 95%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index__cards .index__cards--hijo {
  background-color: #7fffd4;
  margin: 20px auto 10px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

#index__cards .index__cards--hijo h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #666;
  font-size: 24pt;
  padding: 1vh 0;
}

#index__cards .index__cards--hijo p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #666;
  font-size: 1rem;
}

#index__cards .index__cards--hijo .index__cards--hijo--img {
  width: 100px;
  margin: 0 auto;
}

#index__cards .index__cards--hijo .index__cards--hijo--img img {
  width: 70px;
}

#index__cards .index__cards--hijo:hover {
  background-image: url(../img/fondo-carpincho-generico.svg);
  color: #7fffd4;
  background-position: center;
  background-size: 250%;
  background-repeat: no-repeat;
}

#index__cards .index__cards--hijo:hover h1 {
  color: #7fffd4;
}

#index__cards .index__cards--hijo:hover p {
  color: #fff;
}

#index__cards .index__cards--hijo:hover div img {
  -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(11%) saturate(1519%) hue-rotate(95deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(89%) sepia(11%) saturate(1519%) hue-rotate(95deg) brightness(102%) contrast(101%);
}

#index__texto--cierre {
  padding: 0 10vh;
  background-image: linear-gradient(45deg, rgba(127, 255, 212, 0.874) 30%, rgba(102, 102, 102, 0.716) 95%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index__texto--cierre .index__texto--cierre--caja h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  color: #fff;
}

#index__texto--cierre .index__texto--cierre--caja p {
  text-align: center;
  margin: 0 10% 0 10%;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

#index__texto--cierre .index__texto--cierre--button {
  background-image: url(../img/fondo-carpincho-generico.svg);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  border-radius: 2vh;
  width: 35vh;
  height: 10vh;
  padding: 2vh 3vh;
  margin: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index__texto--cierre .index__texto--cierre--button a {
  color: #7fffd4;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

#index__texto--cierre .index__texto--cierre--button:hover {
  background-image: url(../img/fondo-carpix-dark-gray.svg);
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
}

#index__texto--cierre .index__texto--cierre--button:hover a {
  text-decoration: line-through;
}

#servicios {
  background-image: url(../img/car-bg-selva-1.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#servicios .servicios__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  margin: 0;
  padding: 0;
}

#servicios .servicios__titulo h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 60vh;
  font-size: 4rem;
  font-weight: 200;
  height: 10vh;
  margin: 0;
  padding: 0;
}

#servicios .servicios__video {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

#servicios .servicios__video iframe {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicioBloque1, #servicioBloque2 {
  padding: 5vh 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b5b5b5;
  width: 100%;
}

#servicioBloque1 .servicioBloque__texto, #servicioBloque2 .servicioBloque__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#servicioBloque1 .servicioBloque__texto h3, #servicioBloque2 .servicioBloque__texto h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2vh;
  color: #7fffd4;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
  line-height: 3rem;
  width: 90%;
}

#servicioBloque1 .servicioBloque__texto p, #servicioBloque2 .servicioBloque__texto p {
  text-align: center;
  margin: 4vh 0px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #5b5b5b;
  font-weight: 200;
  width: 90%;
}

#servicioBloque1 .servicioBloque__img, #servicioBloque2 .servicioBloque__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
}

#servicioBloque1 .servicioBloque__img img, #servicioBloque2 .servicioBloque__img img {
  height: 55vh;
  text-align: center;
}

#servicioBloque2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#trabajos {
  background-image: url(../img/fondo-carpix-dark-gray.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#trabajos .trabajos__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 80vh;
}

#trabajos .trabajos__txt h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 200;
}

#trabajos .trabajos__txt p {
  text-align: center;
  padding: 0 10vh;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 200;
}

#equipo {
  background-image: url(../img/fondo-carpix-dark-gray.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#equipo .equipo__txt {
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

#equipo .equipo__txt h3 {
  margin: 1rem auto;
  text-align: center;
  color: #7fffd4;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 40vh;
  margin: 5vh 0 0;
  font-size: 3rem;
  font-weight: 100;
}

#equipo .equipo__txt p {
  text-align: center;
  margin: 5vh 4vh;
  font-size: 12pt;
  color: #fff;
  font-weight: 200;
  width: 50vh;
}

#equipo .equipo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#equipo .equipo__img img {
  width: 70vh;
  height: auto;
  margin: 2vh 0 10vh 0;
}

#contacto {
  background-image: url(../img/fondo-carpincho-generico.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#contacto .contacto__titulo {
  color: #7fffd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vh;
}

#contacto .contacto__titulo div {
  width: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  justify-items: space-around;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

#contacto .contacto__titulo div h3 {
  text-align: center;
  padding: 10vh 0 4vh 0;
  font-size: 40pt;
  font-weight: 100;
}

#contacto .contacto__titulo div p {
  text-align: center;
  margin: 5vh 0px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 200;
}

#contacto .contacto__formulario {
  display: inline-block;
  margin: 0 auto;
  color: #5b5b5b;
  line-height: 22pt;
  background-color: #7fffd4;
  width: 60vh;
  padding: 4vh 0 4vh 3vh;
  border-radius: 20px;
  font-size: 10pt;
}

#contacto .contacto__formulario .contacto__formulario--titulo {
  text-align: left;
  margin: 0 0 2vh;
  color: #5b5b5b;
  font-size: 22pt;
  font-weight: 200;
}

#contacto .contacto__formulario .botones {
  margin: 20px 0 0 0;
}

/* GRILLA RESPONSIVE */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

section#slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slider;
}

section#index__texto--manifiesto {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: manifiesto;
}

section#index__cards {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cards;
}

section#index__texto--cierre {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: cierre;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

section#grilla__servicios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: servicios;
}

section#servicioBloque1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios_bloque1;
}

section#servicioBloque2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: servicios_bloque2;
}

section#grilla__trabajos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: trabajos;
}

section#grilla__equipo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: equipo;
}

section#contacto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contacto;
}

/* MOBILE */
#grilla__index {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "slider" "manifiesto" "cards" "cierre" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh 10vh 80vh 70vh 180vh 80vh 50vh;
      grid-template-rows: 10vh 10vh 80vh 70vh 180vh 80vh 50vh;
}

#grilla__servicios {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "servicios" "servicios_bloque1" "servicios_bloque2" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 100vh 130vh 120vh 50vh;
      grid-template-rows: 12vh 10vh 100vh 130vh 120vh 50vh;
}

#grilla__trabajos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "trabajos" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 110vh 50vh;
      grid-template-rows: 12vh 10vh 110vh 50vh;
}

#grilla__equipo {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "equipo" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 130vh 50vh;
      grid-template-rows: 12vh 10vh 130vh 50vh;
}

#grilla__contacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "contacto" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12vh 10vh 150vh 50vh;
      grid-template-rows: 12vh 10vh 150vh 50vh;
}

/* SCREEN 1024px BREACKPOINT */
@media (min-width: 1023px) {
  #grilla__index {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 90vh 70vh 70vh 70vh 40vh;
        grid-template-rows: 10vh 90vh 70vh 70vh 70vh 40vh;
        grid-template-areas: "header nav nav" "slider slider slider" "manifiesto manifiesto manifiesto" "cards cards cards" "cierre cierre cierre" "footer footer footer";
  }
  #grilla__servicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 110vh 70vh 70vh 40vh;
        grid-template-rows: 10vh 110vh 70vh 70vh 40vh;
        grid-template-areas: "header nav nav" "servicios servicios servicios" "servicios_bloque1 servicios_bloque1 servicios_bloque1" "servicios_bloque2 servicios_bloque2 servicios_bloque2" "footer footer footer";
  }
  #grilla__trabajos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 180vh 40vh;
        grid-template-rows: 10vh 180vh 40vh;
        grid-template-areas: "header nav nav" "trabajos trabajos trabajos" "footer footer footer";
  }
  #grilla__equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 200vh 40vh;
        grid-template-rows: 10vh 200vh 40vh;
        grid-template-areas: "header nav nav" "equipo equipo equipo" "footer footer footer";
  }
  #grilla__contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 140vh 40vh;
        grid-template-rows: 10vh 140vh 40vh;
        grid-template-areas: "header nav nav" "contacto contacto contacto" "footer footer footer";
  }
  h3 {
    margin: 1rem auto;
    text-align: center;
    color: #7fffd4;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0 4vh;
    margin: 0;
    font-size: 3rem;
    line-height: 3rem;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #menu div ul {
    margin: 0;
  }
  #slider {
    padding-left: 10vh;
  }
  #slider .slider__title {
    top: 25vh;
    width: 50%;
  }
  #slider .slider__title h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  #slider .slider__button {
    top: 82vh;
    padding: 20px;
  }
  section#index__texto--manifiesto {
    padding: 5vh auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#index__texto--manifiesto h3 {
    margin: 1rem auto;
    text-align: center;
    color: #7fffd4;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-size: 4rem;
  }
  section#index__texto--manifiesto p {
    text-align: center;
    margin: 0 10vh;
    padding: 0 40vh;
    font-size: 1.4rem;
  }
  #index__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #index__cards .index__cards--hijo {
    margin: 10vh 2vh 10vh;
    padding: 7vh 5vh;
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #index__texto--cierre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer {
    padding: 2vh 10vh;
  }
  #footer .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  /* COMPLETAR ESTO RESPONISVE HEADER - FOOTER */
  #grilla__servicios #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #grilla__servicios #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #grilla__servicios #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #grilla__servicios #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #grilla__servicios #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #grilla__servicios #menu div ul {
    margin: 0;
  }
  #grilla__servicios #footer {
    padding: 2vh 10vh;
  }
  #grilla__servicios #footer .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #grilla__trabajos #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #grilla__trabajos #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #grilla__trabajos #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #grilla__trabajos #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #grilla__trabajos #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #grilla__trabajos #menu div ul {
    margin: 0;
  }
  #grilla__trabajos #footer {
    padding: 2vh 10vh;
  }
  #grilla__trabajos #footer .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #grilla__equipo #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #grilla__equipo #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #grilla__equipo #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #grilla__equipo #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #grilla__equipo #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #grilla__equipo #menu div ul {
    margin: 0;
  }
  #grilla__equipo #footer {
    padding: 2vh 10vh;
  }
  #grilla__equipo #footer .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #grilla__contacto #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 7vh;
  }
  #grilla__contacto #header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #grilla__contacto #header .header__logo img {
    width: 30vh;
    padding: 0 0;
  }
  #grilla__contacto #menu {
    padding-right: 10vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #grilla__contacto #menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: space-around;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  #grilla__contacto #menu div ul {
    margin: 0;
  }
  #grilla__contacto #footer {
    padding: 2vh 10vh;
  }
  #grilla__contacto #footer .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #servicios {
    width: 100%;
    padding: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #servicios .servicios__titulo {
    padding-top: 0;
  }
  #servicios .servicios__titulo h3 {
    margin: 1rem auto;
    text-align: center;
    color: #7fffd4;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 3rem;
    width: 120vh;
  }
  #servicios .servicios__video {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  #servicios .servicios__video iframe {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #servicioBloque1, #servicioBloque2 {
    margin: 0;
    padding: 0 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 70vh;
  }
  #servicioBloque1 .servicioBloque__texto, #servicioBloque2 .servicioBloque__texto {
    display: inline-block;
    width: 80vh;
    margin: 0;
    padding: 0;
  }
  #servicioBloque1 .servicioBloque__texto h3, #servicioBloque2 .servicioBloque__texto h3 {
    margin-top: 0;
    display: inline;
    text-align: left;
    color: #7fffd4;
    font-size: 3rem;
    font-weight: 100;
    line-height: 2rem;
  }
  #servicioBloque1 .servicioBloque__texto p, #servicioBloque2 .servicioBloque__texto p {
    text-align: left;
    display: block;
    margin: 5vh 0;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #5b5b5b;
    font-weight: 200;
    width: 70vh;
    padding: 0;
  }
  #servicioBloque1 .servicioBloque__img, #servicioBloque2 .servicioBloque__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  #servicioBloque1 .servicioBloque__img img, #servicioBloque2 .servicioBloque__img img {
    display: inline;
    height: 60vh;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  #trabajos {
    width: 100%;
    padding: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #trabajos .trabajos__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    height: 60vh;
  }
  #trabajos .trabajos__txt h3 {
    padding: 8vh;
    text-align: center;
    color: #7fffd4;
    font-size: 45pt;
    font-weight: 100;
    line-height: 46pt;
    width: 120vh;
  }
  #trabajos .trabajos__txt p {
    width: 130vh;
  }
  #equipo {
    width: 100%;
    padding: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #equipo .equipo__txt {
    display: inline-block;
    width: 70vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0;
    margin: 0;
    height: 60vh;
  }
  #equipo .equipo__txt h3 {
    text-align: left;
    padding: 10vh 0;
  }
  #equipo .equipo__txt p {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  #equipo .equipo__img {
    margin: 10vh 0;
    padding: 0;
  }
  #contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  #contacto .contacto__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  #contacto .contacto__formulario {
    height: 80vh;
    margin: 10vh;
  }
}
/*# sourceMappingURL=main.css.map */