/* COLORS */

$colorPrincipal: #7fffd4;
$colorSecundario: #5b5b5b;
$colorBackground: #232323;
$colorBackground-light: #b5b5b5;
$colorTexto-claro: #fff;

/* MAPS */

$red-social: (
    youtube: lightblue,
    linkedin: blue,
    instagram: blueviolet
);

@each $nombre, $valor in $red-social {
    .icon-#{$nombre}{
        background-color: $valor;
    }
}