#contacto {
    background-image: url(../img/fondo-carpincho-generico.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    .contacto__titulo {
        color: $colorPrincipal;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 60vh;
        div {
            width: 50vh;
            flex-flow: column wrap;
            justify-items: space-around;
            align-items: space-evenly;
            h3 {
                text-align: center;
                padding: 10vh 0 4vh 0;
                font-size: 40pt;
                font-weight: 100;
            }
            p{
                text-align: center;
                margin: 5vh 0px;
                font-size: 1.5rem;
                color: $colorTexto-claro;
                font-weight: 200;
            }
        }
    }
    .contacto__formulario {
        display: inline-block;
        margin: 0 auto;
        color: $colorSecundario;
        line-height: 22pt;
        background-color: $colorPrincipal;
        width: 60vh;
        padding: 4vh 0 4vh 3vh;
        border-radius: 20px;
        font-size: 10pt;
        .contacto__formulario--titulo {
            text-align: left;
            margin: 0 0 2vh;
            color: $colorSecundario;
            font-size: 22pt;
            font-weight: 200;
        }
        .botones {
            margin: 20px 0 0 0;
        }
    }
}