    #equipo {
        @extend .contenedor__black;
        background-image: url(../img/fondo-carpix-dark-gray.svg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .equipo__txt {
            padding: 10vh 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 60vh;
            h3{
                @include h3;
                width: 40vh;
                margin: 5vh 0 0;
                font-size: 3rem;
                font-weight: 100;
            }
            p {
                text-align: center;
                margin: 5vh 4vh;
                font-size: 12pt;
                color: #fff;
                font-weight: 200;
                width: 50vh;
            }
        }
        .equipo__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            img {
                width: 70vh;
                height: auto;
                margin: 2vh 0 10vh 0;
            }
        }
    }