/* GRILLA RESPONSIVE */
 
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
section#slider {
     grid-area: slider;     
}
section#index__texto--manifiesto {
     grid-area: manifiesto;
}
section#index__cards {
    grid-area: cards;
}
section#index__texto--cierre {
    grid-area: cierre;
}
footer {
     grid-area: footer;
}

section#grilla__servicios {
    grid-area: servicios;
}
section#servicioBloque1 {
    grid-area: servicios_bloque1;
}
section#servicioBloque2 {
    grid-area: servicios_bloque2
}
section#grilla__trabajos {
    grid-area: trabajos;
}
section#grilla__equipo {
    grid-area: equipo;
}
section#contacto {
    grid-area: contacto;
}

/* MOBILE */

#grilla__index {
    display: grid;
    grid-template-areas: "header" "nav" "slider" "manifiesto" "cards" "cierre" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 80vh 70vh 180vh 80vh 50vh;
 }

 #grilla__servicios {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios_bloque1" "servicios_bloque2" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 10vh 100vh 130vh 120vh 50vh;
 }

 #grilla__trabajos {
    display: grid;
    grid-template-areas: "header" "nav" "trabajos" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 10vh 110vh 50vh;
 }

 #grilla__equipo {
    display: grid;
    grid-template-areas: "header" "nav" "equipo" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 10vh 130vh 50vh;
 }

 #grilla__contacto {
    display: grid;
    grid-template-areas: "header" "nav" "contacto" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 10vh 150vh 50vh;
 }

/* SCREEN 1024px BREACKPOINT */

@media (min-width: 1023px) {  
    #grilla__index {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 90vh 70vh 70vh 70vh 40vh;
        grid-template-areas:
            "header nav nav"
            "slider slider slider"
            "manifiesto manifiesto manifiesto"
            "cards cards cards"
            "cierre cierre cierre"
            "footer footer footer";
    }
    #grilla__servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 110vh 70vh 70vh 40vh;
        grid-template-areas:
        "header nav nav"
        "servicios servicios servicios"
        "servicios_bloque1 servicios_bloque1 servicios_bloque1"
        "servicios_bloque2 servicios_bloque2 servicios_bloque2"
        "footer footer footer";
    }
    
    #grilla__trabajos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 180vh 40vh;
        grid-template-areas:
        "header nav nav"
        "trabajos trabajos trabajos"
        "footer footer footer";
    }

    #grilla__equipo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 200vh 40vh;
        grid-template-areas:
        "header nav nav"
        "equipo equipo equipo"
        "footer footer footer";
    }

    #grilla__contacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 140vh 40vh;
        grid-template-areas:
            "header nav nav"
            "contacto contacto contacto"
            "footer footer footer";
    }

    h3 {
        @include h3;
        padding: 0 0 4vh;
        margin: 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    #header {
        display: flex;
        justify-content: left;
        align-content: center;
        padding-left: 7vh;
        .header__logo {
            display: flex;
            align-content: center;
            img {
                width: 30vh;
                padding: 0 0;
            }
        }
    }

    #menu {
        padding-right: 10vh;
        justify-content: flex-end;
        div {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: right;
            justify-items: space-around;
            font-size: 1rem;
            flex-flow: row nowrap;
            ul {
                margin: 0;
            }
        }
    }
    
    #slider {
        padding-left: 10vh;
        .slider__title {
            top: 25vh;
            width: 50%;
            h1 {
                font-size: 5rem;
                line-height: 5rem;
            }
        }
        .slider__button {
            top: 82vh;
            padding: 20px;
        }
    }


    section#index__texto--manifiesto  {
        padding: 5vh auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        h3 {
            @include h3;
            font-size: 4rem;
        }
        p {
            text-align: center;
            margin: 0 10vh;
            padding: 0 40vh;
            font-size: 1.4rem;
        }
    }
    #index__cards {
        flex-direction: row;
        align-content: space-evenly;
        justify-content: center;
        .index__cards--hijo {
            margin: 10vh 2vh 10vh;
            padding: 7vh 5vh;
            width: 300px;
            justify-content: center;
            align-items: center;
        }
    }

    #index__texto--cierre {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    
    }

    #footer {
        padding: 2vh 10vh;
        .container {
            .row {
                display: flex;
                flex-wrap: nowrap;
            }
        }
    }
    
    /* COMPLETAR ESTO RESPONISVE HEADER - FOOTER */
    
    #grilla__servicios {
        @include header;
        @include menu;
        @include footer;
    }
    #grilla__trabajos {
        @include header;
        @include menu;
        @include footer;
    }
    #grilla__equipo {
        @include header;
        @include menu;
        @include footer;
    }
    #grilla__contacto {
        @include header;
        @include menu;
        @include footer;
    }
    
    
    #servicios {
        width: 100%;
        padding: 10vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        grid-column: 1/6;
        .servicios__titulo {
            padding-top: 0;
            h3 {
                @include h3;
                margin: 0;
                padding: 0;
                font-size: 4rem;
                line-height: 3rem;
                width: 120vh;
            }
        }
        .servicios__video {
            width: 100%;
            height: 80vh;
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin: 0;
            padding: 0;
            iframe {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    #servicioBloque1, #servicioBloque2 {
        margin: 0;
        padding: 0 15vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 70vh;
        .servicioBloque__texto {
            display: inline-block;
            width: 80vh;
            margin: 0;
            padding: 0;
            h3 {
                margin-top: 0;
                display: inline;
                text-align: left;
                color: $colorPrincipal;
                font-size: 3rem;
                font-weight: 100;
                line-height: 2rem;
            }
            p {
                text-align: left;
                display: block;
                margin: 5vh 0;
                font-size: 1.5rem;
                line-height: 1.9rem;
                color: $colorSecundario;
                font-weight: 200;
                width: 70vh;
                padding: 0;
            }
        }
        .servicioBloque__img {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 80vh;
            margin: 0;
            padding: 0;
            img {
                display: inline;
                height: 60vh;
                justify-content: right;
                align-items: flex-start;
                margin: 0;
                padding: 0;
            }
        }
    }
    #trabajos {
        width: 100%;
        padding: 0vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        grid-column: 1/6;
        .trabajos__txt {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            height: 60vh;
            h3 {
                padding: 8vh;
                text-align: center;
                color: $colorPrincipal;
                font-size: 45pt;
                font-weight: 100;
                line-height: 46pt;
                width: 120vh;
            }
            p {
                width: 130vh;
            }
        }
    } 
    #equipo {
        width: 100%;
        padding: 0vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        grid-column: 1/6;
        .equipo__txt {
            display: inline-block;
            width: 70vh;
            align-items: center;
            justify-content: left;
            padding: 0;
            margin: 0;
            height: 60vh;
            h3 {
                text-align: left;
                padding: 10vh 0;
            }
            p {
                text-align: left;
                padding: 0;
                margin: 0;
            }
        }
        .equipo__img {
            margin: 10vh 0;
            padding: 0;
        }
    }
    #contacto {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        height: 100vh;
        .contacto__titulo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            height: 40vh;
        }
        .contacto__formulario {
            height: 80vh;
            margin: 10vh;
        }
    }
}

