    #header {
        background-color: $colorBackground;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .header__logo {
            img {
                width: 40vh;
                padding: 1.3rem 1rem 0 1rem;
            }
        }
    }
    
    #menu {
        background-color: $colorBackground;
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 1fr;
        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            justify-items: space-between;
            align-items: center;
            list-style: none;
            font-size: 0.9rem;
            width: 100%;
            ul {
                padding-left: 0;
                li {
                    display: inline-block;
                    position: relative;
                    padding: 0.6rem 0.5rem;
                    margin: 0.2rem;
                    a {
                        padding: 2px;
                        text-decoration: none;
                        color: $colorTexto-claro;
                        font-weight: 600;
                        font-size: 0.9rem;
                        &:hover {
                            color: $colorPrincipal;
                            text-decoration: line-through;
                        }
                    }
                }        
            }
        }
    }