#slider {
    background-image: url(../img/fondo-carpincho-header.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 30px;
    .slider__title {
        position: absolute;
        top: 170px;
        width: auto;
        animation-duration: 2s;
        animation-name: aparecer-slider;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        h1 {
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 400;
            color: $colorPrincipal;
            display: inline;
            span {
                div {
                    display: inline-block;
                    padding: 0.3rem;
                    background-color: $colorPrincipal;
                    color: $colorBackground;   
                }
            }
        }
    }
    .slider__button {
        position: absolute;
        top: 500px;
        background-color: $colorPrincipal;
        border-radius: 15px;
        padding: 15px;
        transition: height 2s, width 1s;
        display: flex;
        align-content: center;
        justify-content: center;
        animation-name: aparecer-slider;
        a {
            color: $colorBackground;
            font-size: 1rem;
            font-weight: 800;
            text-decoration: none;
        }
        &:hover {
            background-color: transparent;
            border-color: $colorPrincipal;
            border-style: solid;
            border-width: 2px;
            a {
                color: $colorPrincipal;
                text-decoration: line-through;
            }
        }
    }
}

#grilla__index {
    background-image: url(../img/fondo-carpix-gray.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#index__texto--manifiesto {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: space-around;
    h3 {
        @include h3;
    }
    p {
        text-align: center;
        margin: 0 10% 0 10%;
        font-size: 1rem;
        color: $colorSecundario;
        font-weight: 100;
        line-height: 1.7rem;
        strong {
            em {
                color: $colorPrincipal;
            }
        }
    }
}

.redondeados {
    border-radius: 10%;
}

#index__cards {
    background-image: linear-gradient(to top, rgba(106, 106, 106, 0.922) 30%, rgba(181, 181, 181, 0) 95%);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    .index__cards--hijo {
        background-color: $colorPrincipal;
        margin: 20px auto 10px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        color: #333;
        display: inline-block;
        padding: 30px;
        text-align: center;
        justify-content: center;
        width: 300px;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
            text-decoration: none;
            color: #666;
            font-size: 24pt;
            padding: 1vh 0;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            text-decoration: none;
            color: #666;
            font-size: 1rem;
        }
        .index__cards--hijo--img {
            width: 100px;
            margin: 0 auto;
            img {
                width: 70px;
            }
        }
        &:hover {
            background-image: url(../img/fondo-carpincho-generico.svg);
            color: $colorPrincipal;
            background-position: center;
            background-size: 250%;
            background-repeat: no-repeat;
            h1 {
                color: $colorPrincipal;
            }
            p {
                color: #fff;
            }
            div {
                img {
                    filter: brightness(0) saturate(100%) invert(89%) sepia(11%) saturate(1519%) hue-rotate(95deg) brightness(102%) contrast(101%);
                }
            }
        }
    }
}

#index__texto--cierre {
    padding: 0 10vh;
    background-image: linear-gradient(45deg, rgba(127, 255, 212, 0.874) 30%, rgba(102, 102, 102, 0.716) 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .index__texto--cierre--caja {
        h3 {
            @include h3;
            animation-duration: 1s;
            animation-name: aparecer;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            color:#fff;
        }
        p {
            text-align: center;
            margin: 0 10% 0 10%;
            font-size: 1rem;
            color: #fff;
            font-weight: 600;
        }
    }
    .index__texto--cierre--button {
        background-image: url(../img/fondo-carpincho-generico.svg);
        background-position: center;
        background-size: 200%;
        background-repeat: no-repeat;
        border-radius: 2vh;
        width: 35vh;
        height: 10vh;
        padding: 2vh 3vh;
        margin: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: $colorPrincipal;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            }
        &:hover {
            background-image: url(../img/fondo-carpix-dark-gray.svg);
            background-position: center;
            background-size: 150%;
            background-repeat: no-repeat;
            a {
                text-decoration: line-through;
            }
        }
    }
}