body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Anonymous Pro', monospace;
}

p, a {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 100;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@mixin h3 {
    margin: 1rem auto;
    text-align: center;
    color: $colorPrincipal;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@mixin h5 {
    font-family: 'Anonymous Pro', monospace;
    text-align: left;
    padding: 0rem 10rem;
    color: $colorTexto-claro;
    font-size: 0.7rem;
    line-height: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-kerning: none;
    letter-spacing: 1px;
}