*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Variables primero */
@import 'colors';
@import 'class-vars';

/* Secciones */

@import 'tipografia';

#grilla__equipo {
    @import 'header';
    @import 'footer';
}

#grilla__servicios {
    @import 'header';
    @import 'footer';
}

@import 'servicios';

@import 'equipo';

@import 'grillas';